<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>app</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/css/site.css" charset="utf-8" />
</head>

<body ng-controller='GlobalController as gc'>
  <div>
    <a href="/">Home</a>
    <a href="/booksCreate">Create New Book</a>
    <button ng-href="/login">Login</button>
    <button ng-href="/register">Register</button>
    <button ng-click="gc.logout()">Logout</button>
  </div>

  <ng-view></ng-view>

  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-route/angular-route.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>

  <script src="/javascript/app.js"></script>
  <script src="/javascript/services/HomeService.js"></script>
  <script src="/javascript/services/UserService.js"></script>
  <script src="/javascript/services/HTTPFactory.js"></script>
  <script src="/javascript/controllers/HomeController.js"></script>
  <script src="/javascript/controllers/booksCreateController.js"></script>
  <script src="/javascript/controllers/bookUpdateController.js"></script>
</body>

</html>
