<div class="">
  <form ng-submit="vm.register()">
    <label>Username:</label>
    <input ng-model="vm.user.username" type="text" placeholder="Username"/>
    <label>Email:</label>
    <input ng-model="vm.user.email" type="email" placeholder="Email"/>
    <label>Password:</label>
    <input ng-model="vm.user.password" type="text" placeholder="Password"/>
    <label>Confirm Password:</label>
    <input ng-model="vm.user.cpassword" type="text" placeholder="Confirm Password"/>
    <button type="submit">Register</button>
  </form>
</div>
